/*CSS Reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

header nav {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    align-items: center;
}


header nav .logo img {
    height: 25px;
}


header nav .toggle-btn img {
    height: 15px;
}

header nav .search img {
    height: 23px;
}


header nav div {
    cursor: pointer;
}

div {
    /* border: 3px solid red; */
    height: fit-content;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    transition: 0.5s;
    font-family: 'Arima Madurai', sans-serif;
}


.overlay .nav-links {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #000000;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */

}

.overlay a:hover, .overlay a:focus {
    color: #0186c4;

}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }

  }

/* Main section starts here */

/* Page 1 */
main .first-page {
    /* border: 3px solid red; */
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}


main .first-page .text-block {
    font-family: 'Arima Madurai', sans-serif;
    margin: 0px 25px 0 25px;
}

main .first-page .vector-block {
    font-family: 'Arima Madurai', sans-serif;
    margin: 0px 25px 0 25px;

}

main .first-page .text-block h1 {
    font-size: 22px;
}

main .first-page .text-block h5 {
    font-size: 18px;
}

main .first-page .text {
    margin-bottom: 20px;
}

main .first-page .text-block span {
    background: rgba(0, 176, 255, 0.19);
}

main .first-page .text-block span {
    background: rgba(0, 176, 255, 0.19);
}


.light-btn {
    font-family: Poppins, sans-serif;
    font-size: 17px;
    padding: 7px 40px 7px 40px !important;
    /* padding-right: 5px; */
    background: #6FD2FF;
    border-radius: 7px;
    color: #002C40;
    text-decoration: none;
}

.dark-btn {
    font-family: Poppins, sans-serif;
    font-size: 17px;
    padding: 7px 45px 7px 45px !important;
    /* padding-right: 5px; */
    background: #002C40;
    border-radius: 7px;
    color: white;
    text-decoration: none;
}

@media only screen and (max-width: 800px) {
    main .first-page {
        flex-direction: column-reverse;
    }

    main .first-page .vector-block {
        width: 80vw;
        position: relative;
        /* border: 3px solid red; */
    }

    main .first-page .vector-block img {
        width: 100%;
    }

    main .fourth-page {
    
        margin-top: 100px;
    }


}

@media only screen and (max-width: 1000px) {

    main .fourth-page {
    
        margin-top: 100px;
    }

    main .fourth-page .head-text {
        width: 90% !important;
        /* border: 3px solid red; */
    }

    main .second-page {
    
        margin-top: 100px;
    }

    main .second-page .box {
        padding: 20px;
    }

    main .second-page .head-text {
        width: 90% !important;
        /* border: 3px solid red; */
    }

    main .third-page {
    
        margin-top: 100px;
    }

    main .third-page .head-text {
        width: 90% !important;
        /* border: 3px solid red; */
    }


    main .fourth-page .blog-posts {
        flex-direction: column;
        align-items: center;
    }

    main .fourth-page .blog-posts .featured-post {
        width: 90% !important;
        margin-bottom: 20px;
    }

    main .fourth-page .blog-posts .other-posts {
        width: 90% !important;
    }


}

.vector-drawing-1 {
    position: absolute;
    top: 70vh;
    right: 0%;
    z-index: -1;
}

.vector-drawing-2 {
    position: absolute;
    top: 170vh;
    left: 0%;
    z-index: -1;
}

.vector-drawing-3 {
    position: absolute;
    top: 270vh;
    right: 0%;
    z-index: -1;
}

.vector-drawing-4 {
    position: absolute;
    top: 370vh;
    left: 0%;
    z-index: -1;
}

/* Page 2 */
main .second-page {
    min-height: 100vh;
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .second-page .head-text {
    font-family: 'Arima Madurai', sans-serif;
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 10px;

}

main .second-page .head-text h1 {
    font-size: 23px;
    border-bottom: 3px solid #00B0FF;
    width: fit-content;
}

/* main .second-page div {
    border: 5px solid rgb(0, 0, 0);
} */

main .second-page .project-boxes {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    /* border: 3px solid red; */
    width: 80%;
    justify-content: space-around;
}

main .second-page .project-boxes .box {
    width: 300px;
    /* border: 2px solid gold; */
    font-family: 'Poppins', sans-serif;
}


main .second-page .project-boxes .box img {
    width: 100%;
}

.lower {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.go-btn {
    background: #00B0FF;
    border-radius: 3px;
    padding: 5px 15px 5px 15px;
    color: black;
    text-decoration: none;
}

/* Page 3 */
main .third-page {
    min-height: 100vh;
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .third-page .head-text {
    font-family: 'Arima Madurai', sans-serif;
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 10px;
    
}

main .third-page .head-text h1 {
    font-size: 23px;
    border-bottom: 3px solid #00B0FF;
    width: fit-content;
    margin-bottom: 10px;
}

main .third-page .course-boxes {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    /* border: 3px solid red; */
    width: 100%;
    justify-content: space-around;
}

/* note */
.card {
    background: #F2F2F2;
    border: 3px solid rgb(231, 231, 231);
    box-sizing: border-box;
    width: 301px;
    text-align: center;
    transition: 0.5s ease;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.card:hover {
    background: #F2F2F2;
    border: 3px solid #4c94d6;
    box-sizing: border-box;
    width: 301px;
    text-align: center; 
}

.card:hover h5 {
    color: #023e75;
}


.card img {
    width: 100% !important;  
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;  
}

.card h5 {
   font-size: 18px;
   font-weight: bold;
   padding: 10px 0 10px 7px;
   color: rgb(37, 33, 33);
}

.card p {
    font-size: 12px;
    color: gray;
    padding: 5px;
 }

.card .author {
    height: 50px;
    display: flex;
    align-items: center;
}

.card .author img {
    height: 30px;
    width: 30px !important;
    border-radius: 50%;
    margin: 0 10px 0 10px;
}

.card .author span {
    font-weight: 500;
}

.card .content {
    padding-bottom: 35px;
}

.see-more {
    /* border: 3px solid red; */
    margin-top: 40px;
}

main .fourth-page {
    min-height: 100vh;
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .fourth-page .head-text {
    font-family: 'Arima Madurai', sans-serif;
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 10px;
    
}

main .fourth-page .head-text h1 {
    font-size: 23px;
    border-bottom: 3px solid #00B0FF;
    width: fit-content;
    margin-bottom: 10px;
}

main .fourth-page .blog-posts {
    /* border: 3px solid red; */
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

main .fourth-page .blog-posts .featured-post {
    /* border: 3px solid blue; */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 30%;
}

main .fourth-page .blog-posts .featured-post .upper img{
    width: 100%;
}

main .fourth-page .blog-posts .featured-post .lower{
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    font-family: 'Arima Madurai', sans-serif;
    padding: 15px;
} 

main .fourth-page .blog-posts .featured-post .lower small{
    color: gray;
    font-size: 15px;
}

main .fourth-page .blog-posts .featured-post .lower h1{
    color: black;
    font-size: 20px;
}

main .fourth-page .blog-posts .featured-post .lower a{
    width: fit-content;
    margin-top: 5px;

}


main .fourth-page .blog-posts .featured-post .wrapper{
    text-align: right;
    padding: 7px;

}

main .fourth-page .blog-posts .other-posts {
    /* border: 3px solid green; */
    width: 35%;
    margin-left: 10px;
}

main .fourth-page .blog-posts .other-posts .box {
    font-family: 'Arima Madurai', sans-serif;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
}

main .fourth-page .blog-posts .other-posts .box:hover h1 {
    text-decoration: underline;
    transition: 1s ease;
}

main .fourth-page .blog-posts .other-posts .box img {
    width: 200px !important;
    border: 3px solid red;
    height: 100%;
}



main .fourth-page .blog-posts .other-posts .box .wrapper {
    width: 90%;
    /* border: 3px solid red; */
    padding: 30px;
}

main .fourth-page .blog-posts .other-posts .box .wrapper h1 {
    font-size: 18px;
}

main .fourth-page .blog-posts .other-posts .box .wrapper p {
    font-size: 15px;
}

.btn-wrapper {
    padding: 70px;
}

/* Page 5 */
main .fifth-page {
    min-height: 100vh;
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .fifth-page .head-text {
    font-family: 'Arima Madurai', sans-serif;
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 10px;
    
}

main .fifth-page .head-text h1 {
    font-size: 23px;
    border-bottom: 3px solid #00B0FF;
    width: fit-content;
    margin-bottom: 10px;
}

.fifth-page .input-wrapper {
    /* border: 3px solid blue; */
    width: 100%;
    display: flex;
    justify-content: center;
}

.fifth-page .input-wrapper form {
    /* border: 3px solid red; */
    width: 85%;
    text-align: center;
    margin-top: 20px;
}

.fifth-page .input-wrapper form textarea {
    width: 90%; 
    border-radius: 5px;
    font-family: Poppins, sans-serif;
    color: gray;
    border: 2px solid #012536;

}

.fifth-page .input-wrapper form input[type=text], .fifth-page .input-wrapper form input[type=email] {
    width: 90%;
    border-radius: 5px;
    font-family: Poppins, sans-serif;
    height: 30px;
    padding: 7px;
    color: gray;
    border: 2px solid gray;
    
}

.fifth-page .input-wrapper form input:focus{
    outline: none;
}

.fifth-page .input-wrapper form textarea:focus{
    outline: none;
}

.email-wrapper {
    padding: 20px;

}

.name-wrapper {
    padding: 20px;
}

.message-wrapper {
    padding: 20px;
}

footer {
    background-color: black;
    height: 100px;
    text-align: center;
    color: white;
    font-family: 'Arima Madurai', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer .social-wrapper img {
    height: 30px;
    padding: 5px;
    cursor: pointer;
}